@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.root{
    width: 100%;
}

.brand-name > a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    background: rgb(22, 22, 54);
    color: wheat;
    height: 70px;
    width: 100%;
}

.brand-name h3{
    font-size: 25px;
}

.logo{
    width: 70px;
    align-items: baseline;
}
.logo-image{
    width: 80%;
    border-radius: 50%;
    
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-left>*{
    margin: 10;
}
.header-right{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 20px;
}
.header-links{
    list-style: none;
    display: flex;
    height: 50px;
}
.header-links a{
    text-decoration: none;
}

.header-link{
    margin: 10px;
    font-size: 15px;
    color: white;
}
.header-link:hover{
    font-size: 20px;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 250px;
    justify-content: center;
    margin: 20px;
}
.card a{
    text-decoration: none;
    color: black;
}
.card img{
    padding: 20px;
}
.card p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
}

.carousel-head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25;

}

 .embla {
    left: 170px;
    width: 100%;
    margin: 0.5rem;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .embla__viewport{
    display: flex;
    justify-content: center ;
  } 
  .embla__container {
    display: flex;
  }
  .embla__slide {
    height: 350px;
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
    
  }


.sandbox__carousel img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sandbox{ 
    display: flex;
    justify-content: center;
}

.imageBack {
    position: relative;
    top: 0;
    left: 0;
  }


.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 550px;
    padding: 20px 20px;
  }
  
  .embla_background {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
  }
  
  .embla_img {
    position: absolute;
    height: 80%;
    top: 30px;
    right: 30px;
  }

.embla-des{
    font-family: 'Lobster', sans-serif;
    position: absolute;
    font-size: xx-large;
    top: 80px;
    left: 30px;
}


.shop-button{
    position: absolute  ;
    width: 90;
    bottom: 60px;
    left:45px
}

.buy-data{
    width: 100%;
    display: flex;
}

.side_imgs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.side_img {
    height:70px;
    margin: 4px;
    border: 2px solid black;
}
.side_img:hover {
    border: 2px solid rgb(180, 38, 38);
}
.side_img > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.images_prices {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    border: none;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.display_img{
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
}
.display_img > img{
    width: 100%;
    height: 100%;
}

.pricing_display{
    padding: 5px;
}

.price_box{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 45px;
    font-size: x-large;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.price_box_flex{
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.pricebox_tick{
    margin-right: 5px;
}

.price_box:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.addborder {
    border: 2px solid green;
    background-color: rgb(142, 195, 142);
}
.price_section > h2{
    font-weight: bold;
    font-size: x-large;
}
.price_section > p{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.price_section{
    margin-top: 10px;
    width: 500px;
}
.strikeMRP{
    text-decoration: line-through;
}
.buy_button{
    display: flex;

}
.addbtn, .savebtn {
    width: 100%;
    height: 50px;
    margin:15px 5px;
    align-items: center;
    border-radius: 5px;
    border: none;
}
.addbtn{
    background-color: red;
    color: white;
}
.addbtn:hover {
    color: black;
}
.savebtn{
    color: black;
}
.savebtn:hover{
    background-color: rgb(171, 255, 171);
}
.item_select{
    display: none;
}
.item_selected{
    display: flex;
}